body{ background-color:rgb(255, 255, 255); 
    width: 100%;
    overflow-x: hidden; 
    overflow-y: hidden;
    font-family: 'Times New Roman', Times, serif; 
}

#header {background-color: rgb(31, 3, 3); 
    margin-top: 6%;
}

#sim {padding:8px; 
    width:300px; 
    font-size:30px;
}

#conteiner {text-align: center; 
    color: rgb(0, 0, 0);
}
.campos input{padding: 0.6%;
     width: 35%; 
     margin: auto;
     margin-top: 2%;
    
}

.borda{margin:auto; width: 40%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.24);
    font-size: 150%;
    display: block;
    border-radius: 6%;
    box-shadow: 5px 4px 30px rgba(0, 0, 0, 0.507); /* Adiciona sombra */

}
.butao { border-radius: 8px 8px 8px 8px; 
    background-color: rgb(0, 0, 0);
}

.butao a {text-decoration: none; 
    color: rgb(255, 255, 255); 

}
.butao:hover {background-color: rgb(57, 59, 57);

}


.field {display:block;

}
.campos {display:none;

}

#numero {max-width: 5%; 
    padding:2%;
    text-align: center;
    border-radius: 20%;
}

.img {

width: 20%;

}

.img2 {

width: 5%;

}

.img3 {

width: 20%;
margin-top: 1%;

}