
body {
  
  background-image: radial-gradient(circle, #bebeb7, #000000b4);
}


#container1 {
  max-width: 400px;
  margin: 10% auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #d1c7c7; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

h1 {
  text-align: center; 
  color: #00000073; 
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555; 
}

.input1 {
  width: calc(100% - 22px); 
  margin-bottom: 15px;
  padding: 10px; 
  border: 1px solid #ccc;
  border-radius: 3px;
}

#button1 {
  width: 100%; 
  padding: 12px;
  background-color: #00000079; 
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

#button1:hover {
  background-color: #373f2e73; 
}

.cadastro-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #000000; 
  text-decoration: none;
}

.cadastro-link:hover {
  text-decoration: underline; 
}

.Voltar {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #000000;
  text-decoration: none;
}

.Voltar:hover {
  text-decoration: underline; 
}